@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fffcf2;
  background-color: #252422;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-foreground {
  background-color: #171717;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.975rem;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #252422;

  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  cursor: pointer;
}

.font-vend-sans {
  font-family: 'Vend Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.font-nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  /* font-variation-settings:
    "wdth" <width>,
    "YTLC" <lowercase height>; */
}

@keyframes animate-gradient {
  0% {
    background-position: 100% 50%;
  }
  20% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

.glass-element {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fffcf2;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

/* ANIMATIONS */
.animate-gradient {
  /* animation: animate-gradient 2.2s ease infinite alternate; */
  background-image: linear-gradient(
    -61deg,
    rgba(220, 220, 220, 0.05) 40%,
    rgba(242, 242, 242, 0.2) 50%,
    rgba(44, 44, 44, 0.05) 60%
  );
  background-size: 300% 300%;
  background-position: 100% 50%;
}

.animate-gradient:hover {
  animation: animate-gradient 3s ease infinite alternate;
}

.animate-sign {
  animation: animate-gradient 3s ease infinite alternate;
  background-image: linear-gradient(
    -61deg,
    rgba(220, 220, 220, 0.15) 40%,
    rgba(242, 242, 242, 0.3) 50%,
    rgba(220, 220, 220, 0.15) 60%
  );
  background-size: 300% 300%;
  background-position: 100% 50%;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
