@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #fffcf2;
  background-color: #252422;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #fff;
  opacity: 1;
  background-size: 80px 80px;
  background-image: repeating-linear-gradient(
    to right,
    #444cf7,
    #444cf7 1px,
    #fff 0px,
    #fff
  ); */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

* {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.975rem;
}

body {
  margin: 0;
  /* display: ; */
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  width: 100vw;
  height: 100vh;
  background-color: #252422;
  /* padding: 0 4rem 0 4rem; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  cursor: pointer;
}

.font-vend-sans {
  font-family: 'Vend Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.font-nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  /* font-variation-settings:
    "wdth" <width>,
    "YTLC" <lowercase height>; */
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
